<h1>Realtime Map</h1>

<div style='width: 1060px;'>
  <div id="map-canvas" style='width: 1060px; height: 520px;'></div>
</div>

<%= javascript_tag do %>
  window.purchases_json = <%= raw @circle_data.to_json() %>
<% end %>
