<h1>Realtime Map</h1>

<div style='width: 1060px;'>
  <div id="map-canvas" style='width: 1060px; height: 520px;'></div>
</div>

<button type="button" class="btn btn-default remove-error-markers">Remove error markers</button></div>
<button type="button" class="btn btn-default remove-all-markers">Remove all markers</button></div>

<%= javascript_tag do %>
  window.data_json = <%= raw @data.to_json() %>
<% end %>
